<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Home | Chat</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="app-container">
      <section class="login">
        <h2>Login</h2>
        <form class="login__form" id="loginForm">
          <input
            type="text"
            class="login__input"
            id="nameInput"
            placeholder="Nome de Usuário"
            required
          />
          <input
            type="url"
            class="login__input"
            id="avatarInput"
            placeholder="Imagem de Perfil (URL)"
          />
          <button type="submit" class="login__button">Entrar</button>
        </form>
      </section>

      <div class="chat-container">
        <div class="contacts-sidebar">
          <div class="sidebar-header">
            <div class="user-profile">
              <div class="user-avatar">
                <img
                  src="/images/default-avatar.svg"
                  alt="Avatar"
                  class="user-avatar-img"
                />
              </div>
              <span>Meu Perfil</span>
            </div>
            <div class="header-actions">
              <a href="/" class="header-action-button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="1" />
                  <circle cx="19" cy="12" r="1" />
                  <circle cx="5" cy="12" r="1" />
                </svg>
              </a>
            </div>
          </div>

          <div class="search-container">
            <div class="search-box">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="11" cy="11" r="8" />
                <path d="m21 21-4.3-4.3" />
              </svg>
              <input type="text" placeholder="Pesquisar" />
            </div>
          </div>

          <div class="contacts-list" id="contactsList"></div>

          <button class="new-chat-button" id="newChatButton">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
              />
            </svg>
            Novo Chat
          </button>
        </div>
        <div class="chat-area">
          <div class="chat-header">
            <div class="back-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m15 18-6-6 6-6" />
              </svg>
            </div>
            <div class="chat-contact">
              <div class="user-avatar">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="10" />
                  <circle cx="12" cy="10" r="3" />
                  <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
                </svg>
              </div>
              <div class="chat-contact-info">
                <h2 id="activeChatName"></h2>
                <p id="activeChatStatus"></p>
              </div>
            </div>
          </div>

          <div class="chat-messages" id="chatMessages"></div>

          <form class="chat-form" id="messageForm">
            <input
              type="text"
              class="chat-input"
              placeholder="Digite uma mensagem"
              id="messageInput"
              required
            />
            <button type="submit" class="chat-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m22 2-7 20-4-9-9-4Z" />
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
